.boy {
    position: absolute;
    top: 50%;
    left: 35%;
}
#palm {
    /* width: 100px; */
    position:relative ;
    top: 90%;
    /* left: 35%; */
}
.bird {
    width: 70px;
}
.cloud {
    /* height: 20px; */
    width: 200px;
}
/* .wrapper{
    position: absolute;
    width: 100%;
    top: 0;
    left: 5%;
} */